<% provide(:title, "Log in") %>
<h1>Log in</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>

        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>

        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>

        <%= f.label :remember_me, class: "checkbox inline" do %>
            <%= f.check_box :remember_me %>
            <span>Remember me on this computer</span>
        <% end %>

        <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>
<<<<<<< HEAD

    <br/>
    <br/>
    <br/>

    <button type="button" class="btn btn-primary">
      <%= link_to "SIGN UP NOW!", signup_path %>
    </button>

    <button type="button" class="btn btn-primary">
      <%= link_to "forget password", new_password_reset_path %>
    </button>
=======
    </br>
    <button class="btn btn-info col-md-12 col-md-offset-0" >+ <%= link_to "Sign up", signup_path%></button> &nbsp;
    <button class="btn btn-danger col-md-12 col-md-offset-0" + <%= link_to "Forget password", new_password_reset_path  %>
>>>>>>> 04d58d16106d0475c0353784ad22aa29f59264b4
  </div>
</div>