<%= form_for(@book_by_provider) do |f| %>
  <% if @book_by_provider.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book_by_provider.errors.count, "error") %> prohibited this book_by_provider from being saved:</h2>

      <ul>
      <% @book_by_provider.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
