<%= form_for(@reader, html: { multipart: true }) do |f| %>
  <% if @reader.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reader.errors.count, "error") %> prohibited this reader from being saved:</h2>

      <ul>
      <% @reader.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <select class="form-control input-sm" +<%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :surname %><br>
    <select class="form-control input-sm" +<%= f.text_field :surname %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <select class="form-control input-sm" +<%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :passport %><br>
    <select class="form-control input-sm" +<%= f.text_field :passport %>
  </div>


    <div class="field">
      <%= f.label :birth_date %><br>
      <select class="form-control input-sm" +<%= f.text_field :birth_date, 'data-behaviour' => 'datepicker', altFormat: 'yyyy-mm-dd' %>
      <script type="text/javascript">
          $('[data-behaviour~=datepicker]').datepicker();
      </script>
    </div>
    <%= image_tag @reader.photo.url if @reader.photo? %>

    <span class="picture">
    <%= f.file_field :photo, accept: 'image/jpeg,image/gif,image/png' %>
  </span>

  <div class="actions">
    <%= f.submit 'Save', class: "btn btn-default" %>
  </div>
<% end %>

<script type="text/javascript">
    $('#reader_photo').bind('change', function() {
        var size_in_megabytes = this.files[0].size/1024/1024;
        if (size_in_megabytes > 5) {
            alert('Maximum file size is 5MB. Please choose a smaller file.');
        }
    });
</script>
