<p id="notice"><%= notice %></p>

<h1>Listing all Readers</h1>
<%= will_paginate %>
<div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Surname</th>
          <th>Email</th>
          <th>Address</th>
          <th>Passport</th>
          <th>Birth date</th>
          <th>Photo</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @readers.each do |reader| %>
          <tr>
            <td><%= reader.name %></td>
            <td><%= reader.surname %></td>
            <% if reader.user!=nil %>
            <td><%= reader.user.email %></td>
            <% else %>
                <td><%= reader.email %></td>
            <% end %>
            <td><%= reader.address %></td>
            <td><%= reader.passport %></td>
            <td><%= reader.birth_date %></td>
            <td><%= reader.photo %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>

<br>
<%= will_paginate %>

