<p id="notice"><%= notice %></p>

<!-- When submit the form, the view rendered will be the index view of our articles resource -->
<div class="row">
  <%= form_tag(readers_path, :method => "get", class: "navbar-form", id: "search-form") do %>
      <div class="col-md-9">
        <%= text_field_tag :search, params[:search], :size => 100, class: "form-control input", placeholder: "Search by ( Name, Surname )" %>
      </div>
      <div class="col-md-3">
        <button class="btn btn-default btn-block" type="submit">Search  <%= image_tag("/images/search-icon-hi.png", width: 16, height: 16) %></button>
      </div>
  <% end %>
</div>

<%= will_paginate %>


<div class="panel panel-default">

  <!-- Default panel contents -->

  <div class="panel-heading">Listing Books</div>

    <div class="table-responsive table-striped">
        <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th></th>
                  <th><h4>Name</h4></th>
                  <th><h4>Surname</h4></th>
                  <th><h4>Email</h4></th>
                  <th><h4>Address</h4></th>
                  <th><h4>Passport</h4></th>
                  <th><h4>Birth date</h4></th>
                  <th colspan="3"></th>
                </tr>
              </thead>

              <tbody>
                <% @readers.each do |reader| %>
                  <tr>
                    <td>
                        <div id="wrap">
                          <img class="avatar" + <%= image_tag(reader.photo.url, width: 60, height: 60) if reader.photo? %>
                        </div>
                    </td>
                    <td><h4><%= reader.name %></h4></td>
                    <td><h4><%= reader.surname %></h4></td>
                    <% if reader.user!=nil %>
                    <td><h4><%= reader.user.email %></h4></td>
                    <% else %>
                        <td><h4><%= reader.email %></h4></td>
                    <% end %>
                    <td><h4><%= reader.address %></h4></td>
                    <td><h4><%= reader.passport %></h4></td>
                    <td><h4><%= reader.birth_date %></h4></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
        </div>
    </div>
  </div>
</div>

<br>
<%= will_paginate %>

