<p id="notice"><%= notice %></p>

<!-- When submit the form, the view rendered will be the index view of our articles resource -->
<div class="row">
  <%= form_tag(readers_path, :method => "get", class: "navbar-form", id: "search-form") do %>
      <div class="col-md-9">
        <%= text_field_tag :search, params[:search], :size => 100, class: "form-control input", placeholder: "Search by ( Name, Surname )" %>
      </div>
      <div class="col-md-3">
        <button class="btn btn-default btn-block" type="submit">Search  <%= image_tag("/images/search-icon-hi.png", width: 16, height: 16) %></button>
      </div>
  <% end %>
</div>

<%= will_paginate %>


<div class="panel panel-default">

  <!-- Default panel contents -->

  <div class="panel-heading">Listing Books</div>

    <div class="table-responsive table-striped">
        <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th></th>
                  <th><h5>Name</h5></th>
                  <th><h5>Surname</h5></th>
                  <th><h5>Email</h5></th>
                  <th><h5>Address</h5></th>
                  <th><h5>Passport</h5></th>
                  <th><h5>Birth date</h5></th>
                  <th colspan="3"></th>
                </tr>
              </thead>

              <tbody>
                <% @readers.each do |reader| %>
                  <tr>
                    <td>
                        <div id="wrap">
                          <img class="avatar" + <%= image_tag(reader.photo.url, width: 60, height: 60) if reader.photo? %>
                        </div>
                    </td>
                    <td><h5><%= reader.name %></h5></td>
                    <td><h5><%= reader.surname %></h5></td>
                    <% if reader.user!=nil %>
                    <td><h5><%= reader.user.email %></h5></td>
                    <% else %>
                        <td><h5><%= reader.email %></h5></td>
                    <% end %>
                    <td><h5><%= reader.address %></h5></td>
                    <td><h5><%= reader.passport %></h5></td>
                    <td><h5><%= reader.birth_date %></h5></td>

                    <% if current_user.admin? or current_user.role == librarian_role %>
                        <td> <%= link_to 'Show taken books',  show_books_by_reader_path(:reader_id => reader.id), type:"button", class: "btn btn-default"  %></td>
                    <% end %>
                  </tr>
                <% end %>
              </tbody>
            </table>
        </div>
    </div>
  </div>
</div>

<br>
<%= will_paginate %>

