<p id="notice"><%= notice %></p>

<% if  @book_in_use == nil or @book_in_use.length == 0 %>
    <h3><%= @reader1.name + ' ' + @reader1.surname %> is did not take any book from Library </h3>
<% else %>
    <h3>Listing all Books Taken by <%= @reader1.name + ' ' + @reader1.surname %> </h3>
<% end %>
<div class="table-responsive">
  <table class="table">
    <thead>
    <tr>
      <th>taken date</th>
      <th>till date</th>
      <th>category</th>
      <th>book name</th>
      <th>author</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @book_in_uses.each do |b| %>
        <tr>
          <td><%= b.fromDate %></td>
          <td><%= b.toDate %></td>
          <td><%= b.book.book_type.category.name %></td>
          <td><%= b.book.book_type.name %></td>
          <td><%= b.book.book_type.author %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>

<br>

