<p id="notice"><%= notice %></p>
<div class="col-md-6 center-block" >
  <div class="panel panel-default" >
    <div class="panel-body">

<p>
  <strong>Name:</strong>
  <%= @reader.name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @reader.surname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @reader.user.email %>
</p>

<p>
  <strong>Address:</strong>
  <%= @reader.address %>
</p>

<p>
  <strong>Passport:</strong>
  <%= @reader.passport %>
</p>

<p>
  <strong>Birth date:</strong>
  <%= @reader.birth_date %>
</p>

      <%= image_tag @reader.photo.url if @reader.photo? %>

    </div>
    </div>




<%= link_to 'Edit', edit_reader_path(@reader), :class => "btn btn-default" %> |
<%= link_to 'Back', readers_path, :class => "btn btn-default" %>
</div>