<%= form_for(@book_type) do |f| %>
  <% if @book_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book_type.errors.count, "error") %> prohibited this book template from being saved:</h2>

      <ul>
      <% @book_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
      <%= f.label :Category %><br>
      <select class="form-control input-sm" + <%= f.select :category_id, @categories.map { |category| [category.name, category.id ] } %>
    </div>

  <div class="field">
    <%= f.label :name %><br>
    <input placeholder="" class="form-control input-sm" + <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :author %><br>
    <input placeholder="" class="form-control input-sm" + <%= f.text_field :author %>
  </div>
  <div class="field">
    <%= f.label :publish_year %><br>
    <%= f.date_select :publish_year %>


  </div>
  <div class="field">
    <%= f.label :price %><br>
    <input placeholder="" class="form-control input-sm" +<%= f.text_field :price %>
  </div>
    <div class="actions">
      <%= f.submit 'save', class: "btn btn-default" %>
    </div>

<% end %>



