<p id="notice"><%= notice %></p>


<!-- When submit the form, the view rendered will be the index view of our articles resource -->
<div class="row">
  <%= form_tag(book_types_path, :method => "get", class: "navbar-form", id: "search-form") do %>
      <div class="col-md-9">
        <%= text_field_tag :search, params[:search], :size => 100, class: "form-control input", placeholder: "Search by ( Category, Name, Author, Barcode, Publish year )" %>
      </div>
      <div class="col-md-3">
        <button class="btn btn-default btn-block" type="submit">Search  <%= image_tag("/images/search-icon-hi.png", width: 16, height: 16) %></button>
      </div>
  <% end %>
</div>


<%= will_paginate %>
<div class="panel panel-default">

  <!-- Default panel contents -->

  <div class="panel-heading">Listing Book Templates</div>


  <div class="table-responsive">
    <table class="table">
      <thead>
      <tr>
        <th>Category</th>
        <th>Name</th>
        <th>Author</th>
        <th>Publish year</th>
        <th>Price</th>
        <th colspan="3"></th>
      </tr>
      </thead>

      <tbody>
      <% @book_types.each do |book_type| %>
          <tr>
            <td><%= book_type.category.name %></td>
            <td><%= book_type.name %></td>
            <td><%= book_type.author %></td>
            <td><%= book_type.publish_year.strftime("%Y") %></td>
            <td><%= book_type.price %></td>
            <td><%= link_to image_tag("/images/info.png", width: 20, height: 20), book_type %></td>
            <td><%= link_to image_tag("/images/modify.png", width: 20, height: 20), edit_book_type_path(book_type) %></td>
            <td><%= link_to image_tag("/images/delete.png", width: 20, height: 20), book_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

<br>
<%= will_paginate %>

  <%= link_to  raw("<span>Add new Book Template </span>")+image_tag("/images/add.png", width: 18, height: 18),
               new_book_type_path, type: "button", class:"btn btn-default" %>



