<p id="notice"><%= notice %></p>
<div class="col-md-6 center-block" >
  <div class="panel panel-default">
    <div class="panel-body">
<p>
  <strong>Category:</strong>
  <%= @book_type.category.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @book_type.name %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book_type.author %>
</p>

<p>
  <strong>Publish year:</strong>
  <%= @book_type.publish_year.strftime("%Y") %>
</p>

<p>
  <strong>Price:</strong>
  <%= @book_type.price %>
</p>
</div>
    </div>
<%= link_to 'Edit', edit_book_type_path(@book_type), :class => "btn btn-default" %> |
<%= link_to 'Back', book_types_path, :class => "btn btn-default" %>
</div>