<p id="notice"><%= notice %></p>


<div class="panel panel-default">

  <!-- Default panel contents -->

  <div class="panel-heading">Listing Books</div>

    <div class="table-responsive table-striped">
        <table class="table">
          <thead>
            <tr>
              <!-- When submit the form, the view rendered will be the index view of our articles resource -->
              <div class="row">
              <%= form_tag(books_path, :method => "get", class: "navbar-form", id: "search-form") do %>
                  <div class="col-md-8">
                        <%= text_field_tag :search, params[:search], class: "form-control input-sm", placeholder: "Search by ( Name, Author, Barcode )" %>
                  </div>
                  <div class="col-md-4">
                    <button class="btn btn-default" type="submit">Search  <%= image_tag("/images/search-icon-hi.png", width: 16, height: 16) %></button>
                  </div>
              <% end %>
              </div>
            </tr>
            <tr>
              <th>Category</th>
              <th>Name</th>
              <th>Author</th>
              <th>Barcode</th>
              <th>Shelf Number</th>
              <th>Status</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @books.each do |book| %>
              <tr>
                <td><%= book.book_type.category.name %></td>
                <td><%= book.book_type.name %></td>
                <td><%= book.book_type.author %></td>
                <td><%= book.barcode %></td>
                <td><%= book.shelf_number %></td>
                <td><%= book.status.name %></td>
                <% if current_user.role==librarian_role %>
                <td><%= link_to image_tag("/images/info.png", width: 20, height: 20), book %></td>
                <td><%= link_to image_tag("/images/modify.png", width: 20, height: 20), edit_book_path(book) %></td>
                <td><%= link_to image_tag("/images/delete.png", width: 20, height: 20), book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
    </div>
</div>

<br>
<%= link_to raw("<span>Add new Book </span>")+image_tag("/images/add.png", width: 18, height: 18), new_book_path, type: "button", class:"btn btn-default"%>
</div>

