<p id="notice"><%= notice %></p>

<p>
  <strong>Barcode:</strong>
  <%= @book.barcode %>
</p>

<p>
  <strong>Shelf number:</strong>
  <%= @book.shelf_number %>
</p>

<%= link_to 'Edit', edit_book_path(@book), :class => "btn btn-default"   %>
<%= link_to 'Back', books_path, :class => "btn btn-default"  %>
