<%= form_for(@book_in_use) do |f| %>
  <% if @book_in_use.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book_in_use.errors.count, "error") %> prohibited this book_in_use from being saved:</h2>

      <ul>
      <% @book_in_use.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <div class="field">
      <%= f.label :Book %><br>
      <select class="form-control input-sm" +<%= f.select :book_id, @books.map { |b| [b.book_type.name, b.id ] } %>
    </div>

    <div class="field">
      <%= f.label :Reader %><br>
      <select class="form-control input-sm" +<%= f.select :reader_id, @readers.map { |r| [r.name+" "+r.surname, r.id ] } %>
    </div>

  <div class="field">
    <%= f.label :fromDate %><br>
    <%= f.text_field :fromDate, 'data-behaviour' => 'datepicker', altFormat: 'yyyy-mm-dd', class: "form-control input-sm" %>
  </div>
  <div class="field">
    <%= f.label :toDate %><br>
    <%= f.text_field :toDate, 'data-behaviour' => 'datepicker', altFormat: 'yyyy-mm-dd', class: "form-control input-sm" %>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-default"%>
  </div>
<% end %>
<script type="text/javascript">
    $('[data-behaviour~=datepicker]').datepicker();
</script>


