<p id="notice"><%= notice %></p>

<!-- When submit the form, the view rendered will be the index view of our articles resource -->
<div class="row">
  <%= form_tag(book_in_uses_path, :method => "get", class: "navbar-form", id: "search-form") do %>
      <div class="col-md-9">
        <%= text_field_tag :search, params[:search], :size => 100, class: "form-control input", placeholder: "Search by ( Reader, Barcode, From date, To date )" %>
      </div>
      <div class="col-md-3">
        <button class="btn btn-default btn-block" type="submit">Search  <%= image_tag("/images/search-icon-hi.png", width: 16, height: 16) %></button>
      </div>
  <% end %>
</div>
<%= will_paginate %>

<div class="panel panel-default">

  <!-- Default panel contents -->

  <div class="panel-heading">Listing all readers who took books</div>
<!-- Page Content -->
    <div class="container">

      <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
              <th>Reader</th>
              <th>Book</th>
              <th>Fromdate</th>
              <th>Todate</th>
              <th colspan="3"></th>
            </tr>
            </thead>

            <tbody>
            <% @book_in_uses.each do |book_in_use| %>
                <tr>
                  <td><%= book_in_use.reader.name + " "+ book_in_use.reader.surname %></td>
                  <td><%= book_in_use.book.book_type.name %></td>
                  <td><%= book_in_use.fromDate %></td>
                  <td><%= book_in_use.toDate %></td>
                  <td>
                  <td> <%= link_to 'Return Book',  return_book_path(:book_in_use_id => book_in_use.id), type:"button", class: "btn btn-default"  %></td>
                  <td><%= link_to image_tag("/images/info.png", width: 20, height: 20), book_in_use %></td>
                  <td><%= link_to image_tag("/images/modify.png", width: 20, height: 20), edit_book_in_use_path(book_in_use) %></td>
                  <td><%= link_to image_tag("/images/delete.png", width: 20, height: 20), book_in_use, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
            <% end %>
            </tbody>
        </table>
      </div>

      <br>


    </div>
  <!-- /.row -->


    </div>
</div>
<%= will_paginate %>

<!-- /.container -->

