<footer class="footer-distributed">
  <hr/>
  <div class="footer-left">

    <p class="footer-company-name">2015 &copy; Azamatshekin Kenchimbekov · Nursultan Baktybek uulu</p>

  </div>

  <div class="footer-right">


    <p class="footer-links">
      <%= link_to "HOME", root_path%>
      ·
      <%= link_to "Contact", "/home/contact"%>
      ·
      <%= link_to "Portfolio", "/home/portfolio"%>
      ·
      <%= link_to "About ME", "/home/aboutMe"%>
      ·
      <%= link_to "About Developers", "/home/aboutDevelopers"%>
      ·
      <%= link_to "About Ruby on Rails", "/home/aboutRuby"%>
    </p>
    <!--<form method="get" action="#">
      <input placeholder="Search our website" name="search" />
      <i class="fa fa-search"></i>
    </form>-->

  </div>
  <!--
  &lt;!&ndash; jQuery (necessary for Bootstrap's JavaScript plugins) &ndash;&gt;
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  &lt;!&ndash; Include all compiled plugins (below), or include individual files as needed &ndash;&gt;
  <script src="js/bootstrap.min.js"></script>
-->
</footer>