<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <nav class="navbar navbar-inverse navbar-top" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="navbar-brand"><%= link_to image_tag("/images/logo.png", width: 50, height: 30), root_path%>
        </div>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <%= link_to "Contact", "/home/contact"%>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">About <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li>
                <%= link_to "About Library", "/home/aboutMe"%>
              </li>
              <li>
                <%= link_to "About Developers", "/home/aboutDevelopers"%>
              </li>
            </ul>
          </li>
          <% if logged_in? %>
              <% if current_user.admin?%>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      Reports <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                      <li><%= link_to "Books Report", book_types_books_report_path %></li>
                      <li><%= link_to "Lost Books Report", books_lost_books_report_path %></li>
                      <li><%= link_to "Readers who don't returned books on time", book_in_uses_not_returned_report_path %></li>
                      <li><%= link_to "History of taken books", book_in_uses_history_path %></li>
                      <!--<li><%= link_to "Add new Book", new_book_path %></li>-->

                      <li class="divider"></li>
                    </ul>
                  </li>
                  <li><%= link_to "Users", users_path %></li>
              <% end %>
              <li><%= link_to "Readers", readers_path %></li>
              <% if current_user.role==librarian_role %>
                  <li><%= link_to "Book Template", book_types_path %></li>
                  <li><%= link_to "Books", books_path %></li>
                  <li><%= link_to "Upload and Download digital book", upload_upload_download_page_path %></li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      Issue Book <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                      <li><%= link_to "History of taken books", book_in_uses_history_path %></li>
                      <li><%= link_to "Not returned books", book_in_uses_path %></li>
                      <li><%= link_to "Issue book to reader", new_book_in_use_path %></li>
                      <li class="divider"></li>
                    </ul>
                  </li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      Add Book <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                      <li><%= link_to "Add new Caategory of Book", categories_path %></li>
                      <li><%= link_to "Add new Template of Book", new_book_type_path %></li>
                      <li><%= link_to "Add new Book", new_book_path %></li>

                      <li class="divider"></li>
                    </ul>
                  </li>

              <% elsif current_user.role==reader_role %>
                  <li><%= link_to "Books", books_path %></li>
                  <% if current_user.reader==nil %>
                  <li><%= link_to "my books from library", new_reader_path %></li>
                  <% else %>
                      <li><%= link_to "my books from library", readers_show_books_path %></li>
                  <% end %>
                  <li><%= link_to "Download digital book", upload_upload_download_page_path %></li>
              <% else %>
                  <li><%= link_to "Download digital book", upload_upload_download_page_path %></li>
              <% end %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Account <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <% if current_user.reader==nil %>
                    <li><%= link_to "Profile", new_reader_path %></li>
                      <li><%= link_to "Settings", new_reader_path %></li>
                  <% else %>
                      <li><%= link_to "Profile", reader_path(current_user.reader) %></li>
                      <li><%= link_to "Settings", edit_reader_path(current_user.reader) %></li>
                  <% end %>
                  <li class="divider"></li>
                  <li>
                    <%= link_to "Log out", logout_path, method: "delete" %>
                  </li>
                </ul>
              </li>
          <% else %>
              <li><%= link_to "Log in", login_path %></li>
              <li><%= link_to "Sign up", signup_path %></li>
          <% end %>

        </ul>

      </div>
      <!-- /.navbar-collapse -->
    </div>
   <!-- <ul class="nav nav-pills">
      <li role="presentation" class="active"><a href="#">Home</a></li>
      <li role="presentation"><a href="#">Profile</a></li>
      <li role="presentation"><a href="#">Messages</a></li>
    </ul>-->

    <!-- /.container -->

  </nav>
</head>
